<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
 		<!-- <typeAlias alias="sample" type="com.jh.biz.sample.SampleVO"></typeAlias> -->
 		<typeAlias alias="userVO" type="com.shopping.biz.user.UserVO"/>
 		<typeAlias alias="creditcardVO" type="com.shopping.biz.user.CreditcardVO"/>
 		<typeAlias alias="addressVO" type="com.shopping.biz.user.AddressVO"/>
 		<typeAlias alias="bookVO" type="com.shopping.biz.book.BookVO"/>
 		<typeAlias alias="basketVO" type="com.shopping.biz.basket.BasketVO"/>
 		<typeAlias alias="orderVO" type="com.shopping.biz.order.OrderVO"/>
 		<typeAlias alias="commentVO" type="com.shopping.biz.comment.CommentVO"/>
 	</typeAliases>
 
 	<mappers>
 		<!-- <mapper resource="mappings/sample-mapper.xml"></mapper> -->
		<mapper resource="mappings/user-mapping.xml"/>
		<mapper resource="mappings/book-mapping.xml"/>
		<mapper resource="mappings/basket-mapping.xml"/>
		<mapper resource="mappings/order-mapping.xml"/>
		<mapper resource="mappings/comment-mapping.xml"/>
 	</mappers>
</configuration>